/* GENERAL */
:root{
    --grisOscuro: #202329;
    --grisClaro:#40434A;
    --agua: #009A9C;
    --blanco: #EFEEEB;
}
*{ 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}
body{
    background-color: var(--blanco);
    color: var(--grisOscuro);
    font-family: 'Lora', serif;
    min-width: 100px;
}
.content{
    align-items: flex-start;
}
h3{
    color: var(--agua);
    font-size: 1.25em;
    padding-bottom: 3%;
}
.mob{
    display: block;
}
/* --------- MAIN ---------- */

aside img{
    width: 85%;
    border-radius: 100%;
}
aside{
    display: inline-block;
    width: 20%;
    background-color: ;
    vertical-align: top;
    border-radius: 0 0 10px 0;
    padding: .5em;
}
#nombre{
    order: 0;
    flex-direction: column;
    flex-basis: 25%;
}
.soy{
    margin: 15px 0;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.5em;
}
aside div{
    padding: 5%;
    text-align: center;
}

/* Main itself */
main{
    order: 0;
    width: 60%;
    display: inline-block;
    flex-basis: 55%;
}
.mob{
    display: none;
}
#menu{
    display: block;
}
#menu li{
    text-align: center;
    padding: .65em 0;
}
#menu li a{ 
    text-decoration: none;
    color: var(--grisOscuro);
    font-family: 'Lora', serif;
    padding-bottom: .5em;
}
#menu li a:hover{ 
    color: var(--agua);
    padding-bottom: .5em;
    border-bottom: 1px solid var(--agua);

}
.contacto{
    order: 1;
    flex-direction: column;
    width: 20%;
    border-radius: 0 0 0 10px;
    background-color: var(--grisOscuro);
    padding: 2%;
    text-align: end;
    overflow: hidden;
    color: var(--blanco);
    list-style-type: none;
}

.contacto {
    flex-basis: 20%;
}
.contacto a{
    padding: 8% 0;
    text-decoration: none;
    color: var(--blanco);
    padding-bottom: .5em;
}
.contacto a,
#menu li a{
    transition: all 0.5s ease;
    font-weight: bolder;
}

.contacto a:hover,
nav li a:hover{
    transition: all 0.5s ease;
    color: var(--agua);
}


/* ------- Footer ------- */
.portfolio ul{
    text-align: center;
}
li{
    list-style: none;
}
.card{
    margin: 2%;
    padding: 1%;
    text-align: justify;
}
.flex{
    display: flex;
}
.titulo{
    padding-bottom: .5%;
}
.titulo-sin{
    font-weight: 300;
    color: var(--agua);
    font-style: italic;
}
.no-bold{
    font-weight: 300;
}
.section-flex{
    width: 30%;
    margin-left: 1.2%;
    margin-right: 1.2%;
    display: inline-block;
    vertical-align: top;
    text-align: initial;
    font-size: .9em;
}
li p{
    padding-bottom: 2%;
}

/* FOOTER */

footer{
    margin: 0 0;
    padding: 2%;
    text-align: justify;
}
.portfolio{
    background-color: var(--grisOscuro);
}
.portfolio img{
    width: 100%;
    border-radius:100%;
}
.portfolio h4{
    font-size: 1.1rem;
    color: var(--blanco);
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--agua);
    
}
footer li{
    transition: all .9s ease;
    font-weight: lighter;
    color: var(--blanco);
    text-align: center;
}
.portfolio-child{ 
    flex-basis: 25%;
    padding: 2.5rem;
}
.portfolio-child img{
    transition: all .5s ease;
}
.portfolio-child:hover img{
    transform: scale(1.15);
    transition: all .5s ease;
}
.rellenar{
    min-height: 500px;
}


/* ------ MEDIAQUERIES ----- */

@media (min-width: 400px) and (max-width: 850px) {

    .flex{
        flex-direction: column;
    }
    /* MENU */
    #menu{
        display: none;
    }
    #nombre{
        width: 80%;
        align-self: center;
    }
    aside img{
        width: 80%;
    }
    /* MAIN */
    .card{
        margin: 0;
        margin-bottom: 2rem;

    }
    main{
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .card-flex{
        align-items: center;
    }
    .section-flex{
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .mob{
        display: block;
    }
    .contacto{
        order: -1;
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
    .contacto a{
        padding: 3% 0;
    }
    /* FOOTER */
    .portfolio .flex{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .portfolio-child{
        padding: 2.5rem;
        width: 50%;
    }
    footer{
        padding: 1rem;
    }
}
@media (max-width: 400px) {

    .flex{
        flex-direction: column;
    }
    /* MENU */
    #menu{
        display: none;
    }
    #nombre{
        width: 80%;
        align-self: center;
    }
    aside img{
        width: 80%;
    }
    /* MAIN */
    .card{
        margin: 0;
        margin-bottom: 2rem;

    }
    main{
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .card-flex{
        align-items: center;
    }
    .section-flex{
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .mob{
        display: block;
    }
    .contacto{
        order: -1;
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
    .contacto a{
        padding: 3% 0;
    }
    /* FOOTER */
    .portfolio .flex{
        flex-direction: column;
    }
    footer{
        padding: 1rem;
    }
}
